doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://yandex.st/share/share.js", charset="utf-8")
    script(src="http://yandex.st/jquery/1.4.4/jquery.min.js", charset="utf-8")
    block og
  body
    block content
